/* ==========================================
   DASHBOARD
========================================== */

.dashboard-sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  flex-shrink: 0;
  width: max-content;
}

.sidebar-logo {
  width: 9rem;
}

.sidebar-logo img {
  width: 100%;
  height: auto;
}

/* ==========================================
   SIDEBAR
========================================== */

.dashboard-sidebar .nav-link {
  min-height: 44px;
  border-radius: 8px;
  transition: 0.2s ease;
  white-space: nowrap;
}

.dashboard-sidebar .nav-link:hover {
  background-color: rgba(220, 53, 69, 0.06);
}


/* ==========================================
   MAIN AREA
========================================== */

.dashboard-sidebar + div {
  min-width: 0;
  min-height: 0;
}


/* ==========================================
   SCROLLBAR
========================================== */

.dashboard-sidebar::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 5px;
}

.dashboard-sidebar::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 10px;
}


/* ==========================================
   SMALL UTILITY
========================================== */

.object-fit-cover {
  object-fit: cover;
}
.navlink{
  color: #0b0b0b;
}
.sidebar-dashboard-title {
  font-size: 17px;
  font-weight: 700;
   font-family: "Poppins", sans-serif;
  color: #0b0b0b;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.txt{
  font-size: 23px;
   font-weight: 500;
     text-transform: uppercase;
  color: #d71920;
}
.txti{
  color: #0b0b0b;
}